<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<form method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

    <div>
        <label for="email">Enter your email:</label>
        <input id="email" name="email" required />
    </div>

    <div>
        <label for="password">Enter your password:</label>
        <input id="password" type="password" name="password" required />
    </div>

    <div>
        <button type="submit">Logon</button>
        <button type="button" onclick="window.location.href='/'">Cancel</button>
    </div>
</form>

<%- include("partials/footer.ejs") %>

